@import '~bootstrap/dist/css/bootstrap.css';

h2, h3, h4, h5, p {
    font-family: 'Arial', 'Helvetica', sans-serif;
}

h1 {
    font-family: 'Menlo', 'Lucida Console', monospace;
}

p, ul {
    font-size: 16px;
}

.codeblock {
    background-color: #EEEEEE;
    border-radius: 5px;
}

code {
    color: black;
    text-align: center;
    padding: 10px;
}

figcaption {
    font-size: 14px;
    padding-bottom: 10px;
}

section {
    width: 50%;
    margin: auto;
}

.spacing {
    height: 200px;
}

#pfp {
    max-width: 100%;
    height: auto;
}