@import '~bootstrap/dist/css/bootstrap.css';

h2, h3, h4, h5, p {
    font-family: 'Arial', 'Helvetica', sans-serif;
}

h1 {
    font-family: 'Menlo', 'Lucida Console', monospace;
}

p, ul {
    font-size: 14px;
}

div:not(.navbar) {
    margin-left: 10%;
    margin-right: 10%;
}